.App {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  padding: 2rem;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
}

.sessionstart {
  font-size: 1rem;
  font-weight: bold;
}

.indicator {
  font-size: 2rem;
  font-weight: bold;
  text-transform: capitalize;
}

.offline {
  color: red;
}

.online {
  color: green;
}

.history {
  border-collapse: collapse;
}

.history > caption {
  font-size: 1.5rem;
  font-weight: 500;
  padding: 1rem;
}

.history tr:nth-child(even) {
  background-color: #dddddd;
}

.history tr:nth-child(even) > td:nth-child(1),
.history tr:nth-child(even) > th:nth-child(1) {
  border-right: 1px solid #ffffff;
}

.history tr > td,
.history tr > th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 1rem;
  padding-inline: 2rem;
}
